{% extends "birthday_wisher/base.html" %}

{% block content %}
<h1>
    <div class="lead text-center">
        Make a special connection with your patients by wishing them a happy birthday!
    </div>
</h1>

<div class="row">
    <div class="text-center col-xs-4">
        <i class="fa fa-2x fa-envelope"></i>
    </div>
    <div class="text-center col-xs-4">
        <i class="fa fa-2x fa-phone"></i>
    </div>
    <div class="text-center col-xs-4">
        <i class="fa fa-2x fa-mobile"></i>
    </div>
    <br /> <br />
    <div class="col-xs-12 lead text-center">
        Get updated on which of your patients are having birthdays and let them know 
        you are thinking about them via email, landline, or text message 
    </div>
</div>

<hr />
<div class="text-center">
    <a href="https://drchrono.com/o/authorize?client_id={{ client_id }}&response_type=code">
        <button class="btn btn-primary">
            Sign in with Dr. Chrono!
        </button>
    </a>
</div>
{% endblock %}
