{% extends "birthday_wisher/base.html" %}
{% load birthday_extras %}

{% block content %}
<h1 class="text-center">
    <i class="fa fa-xl fa-birthday-cake"></i>
    Today's Birthdays
</h1>
<hr />
{% for person in patients %}
<div class="patient-info text-center">
    <div class="photo">
        <!--<img src="{{person.patient_photo}}" />-->
        <img src="{{ person | fake_image }}" />
    </div>
    <span class="name">
        {{ person.first_name }} {{person.last_name}}
    </span>
    -
    <span class="dob">
        {{ person.date_of_birth | age}} years old
    </span>
    <div class="contact-info">
        <span class="home-phone">
            <i class="fa fa-phone"></i>
            {{ person.home_phone | urlize | not_provided }}
        </span>
         | 
        <span class="cell-phone">
            <i class="fa fa-mobile"></i>
            {{ person.cell_phone | not_provided }}
        </span>
         | 
        <span class="email">
            <i class="fa fa-envelope"></i>
            {{ person.email | urlize | not_provided }}
        </span>
        <div class="reminder">
            {% if not person.has_contact %}
                <a href="#">
                    Make a reminder to ask for contact information and wish {{ person.first_name }} a happy 
                    birthday for their next appointment on {{ person.next_appointment }}
                </a>
            {% endif %}
        </div>
    <hr />
</div>
{% endfor %}
{% endblock %}
